/*=============  Google Fonts  ================*/
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lobster&family=Lora&family=Poppins:wght@300;400;500;600&display=swap');

/*==========Variables css==========*/


:root {
    /*============Colors=============*/
    --hue-color:242;

    /* HSL Color Mode */

    --skin-color: hsl(342, 92%, 46%);
    --title-color: hsl(var(--hue-color), 8%, 95%);

    /*Background  color black and white karanakota meeka damme*/
    /*--secondary: #fff;*/
    --text-color: hsl(var(--hue-color), 8%, 85%);
    /*meeka thibuna back ground color black and white wenas karanna kalin*/
    --body-color: hsl(var(--hue-color), 19%, 5%);

    --box-color: hsl(var(--hue-color), 14%, 10%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);


   /* --secondary: #9afcef;*/
   /* --secondary: #36454f;*/

    /*====ss Font and Lypography====*/

    --body-font: 'Poppins',sans-serif;

    /*.5rem 8px, Irem 16px, 1.5rem 24px...*/

    --biggest-font-size: 3rem;
    --hi-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /* Font Weight */
    --font-medium: 500;
    --font-bold: 600;

    /* Margenes Bottom===*/
    --mb-0-25: .25rem;
    --mb-0-05: .5rem;
    --mb-0-075: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*===== Z Index =====*/
    --z-fixed: 10;
    --z-modal: 100;

    /*Neon Colors*/
    --font-neon-text-shadow:0 0 10px rgb(225, 9, 74),

    0 0 20px rgba(225, 9, 74,0.3),
    0 0 30px rgba(225, 9, 74,0.3),
    0 0 40px rgba(225, 9, 74,0.3),
    0 0 70px rgba(225, 9, 74,0.3),
    0 0 80px rgba(225, 9, 74,0.3),
    0 0 100px rgba(225, 9, 74,0.3),
    0 0 150px rgba(225, 9, 74,0.3);

}




/*=====Responsive Typography======*/
/*@media screen and (max-width: 2560px) {*/
    :root {
        --biggest-font-size: 2rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --normal-font-size: .75rem;
    }

/*Background colors change*/
.switch {
 /*   --body-color: hsl(var(--hue-color), 19%, 5%);
    --secondary: #fff;*/
    /*--secondary : hsl(var(--hue-color), 19%, 5%);
    --body-color: #fff;*/

    --body-color: hsl(var(--hue-color), 8%, 85%);
    --text-color: hsl(var(--hue-color), 19%, 5%);
}
    /*============*/



    /* Base==============Base============== */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    html {
        scroll-behavior: smooth;
    }

    body,
    button,
    input{
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
    }

    body {
        /*background-color: var(--body-color);*//*meeka thibuna back ground color black and white wenas karanna kalin*/
        background: var(--body-color);
        color: var(--text-color); /*meeka thibuna back ground color black and white wenas karanna kalin*/
    }


    h1,h2,h3 {
        color: var(--title-color);
        font-weight: var(--font-bold);
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    button {
        cursor: pointer;
    }

    button,
    input {
        border: none;
        outline: none;
    }

/*}*/

/*====LayOut====*/
.container {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}


.grid {
    display: grid;
}

/*====ReUsable CSS Classes====*/
.section {
    padding: 6.5rem 0 2rem;
}

.section_title {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.section_title::before {
    content: attr(data-heading);
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--skin-color);
}

/*===Sider===*/

.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
}

.nav_logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;

    animation: topToBottom 1s ease forwards;
}

.nav_logo-text {
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight: var(--font-bold);
    line-height: 40px;
}

.nav_menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu {
    display: flex;
}

.nav_list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav_link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1rem;
    /*color: var(--title-color);*/
    color: var(--text-color);

    /*color: #12f7ff;*/
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;

    opacity: 0;
    animation: slideAnimate 1s ease forwards;
    animation-delay: calc(.2s * var(--a));
}

.btn_share {
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
    animation: leftToRight 1.5s forwards;
}

.social_share {
    font-size: 1.5rem;
}

/*Active Link*/
.nav_link.active-link, .nav_link:hover{
    color: var(--skin-color);
}

.nav_link.active-link::after, .nav_link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}

/*======================================Home Page Start======================================*/
/*====Main====*/

.main {
    margin-left: 100px;
    overflow: hidden;
}

/*====Home Section====*/
.home {
  /*  background: url("../img/pic1.png");
    background-size: cover;
    !*background-position: center center;*!
    background-position:  center;*/
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4rem;

    /*Meeka thibuna mulin*/
    height: 100vh;
}

.home_container {
    position: relative;
    height: 100%;
    align-items: center;
}

/*======================================Home SocialMedia Start======================================*/
.home_social {
    position: absolute;
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.home_social-follow {
    /*font-size: var(--normal-font-size);*/
    font-weight: var(--font-medium);
    position: relative;
    /*color: var(--text-color);*/

    animation: socialAnimate 1s ease forwards;

}

.home_social-follow::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--text-color);
    right: -45%;
    top: 50%;
}

.home_social-links {
    display: inline-flex;
    column-gap: 1rem;
}

.home_social-link {
    /*display: inline;*/
    font-size: 1.08rem;
    cursor: pointer;
    color: var(--text-color);
    transition: .3s;

    opacity: 0;
    animation: socialAnimate 1s ease forwards;
    animation-delay: calc(.2s *  var(--b));
}

.home_social-link:hover {
    transform: translateY(.25rem);
    color: var(--skin-color);
}
/*======================================Social Media Over======================================*/

/*======================================Home Image Start======================================*/
/*.home_img {
    display: none;
}*/
.home-image {
    position: relative;
}

.img-box {
    text-align: center;
}
.img-box img {
    width: 100%;
    max-width: 350px;
    height: auto;
    animation: topToBottom ease 5s forwards;
 }

.liquid-shape {
    position: absolute;
  /*  width: 100%;
    height: 100%;*/
    width: 150%;
    height: 150%;
    z-index: -1;
    top: 10%;
    left: -30%;
    animation: bottomToTop ease 5s forwards;
}
.liquid-shape:nth-child(2) {
    filter: blur(50px);
}
/*======================================Home Image Over======================================*/


/*======================================Home Content Start======================================*/
.home_title {
    /*font-size: var(--biggest-font-size);*/
    font-size: 6em;
    font-weight: 600;
    color: var(--text-color);
    z-index: 1111;

    animation: leftToRight 1.5s forwards;
}
.home_data .home_title span {
    color: #FF2400FF;
    font-weight: 500;
}

.home_subtitle {
    /*font-size: var(--h2-font-size);*/
    font-size: 3em;
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-075);
    color: var(--text-color);

    position: relative;
    animation: neon-animation 1.5s ease-in-out infinite alternate, rightToLeft 1.5s ease forwards;

}

.home_description {
    position: relative;
    font-size: 1.5em;
    max-width: 450px;
    margin-bottom: var(--mb-2);


}
/*.home_description::before{*/
.home_data p::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--body-color);
    animation: showTop 2s ease forwards;
    animation-delay: 1s;
}



.my_info {
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info_item {
    display: flex;
    align-items: center;
}

.info_title,
.info_subtitle {
    font-size: var(--small-font-size);

}

.info_title {
    font-weight: var(--font-medium);
    color: var(--text-color);
}

.info_icon {
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-075);
}
/*contact animations*/
.my_info div:nth-child(1){
    animation: bottomToTop 3s forwards;
}
.my_info div:nth-child(2){
    animation: bottomToTop 3s forwards;
}
.my_info div:nth-child(3){
    animation: bottomToTop 3s forwards;
}

/*======================================Home Content Start======================================*/


/*=======================================Buttons================================*/
.button {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: .75rem 1.4rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
    /*transition: .4s;*/
    animation: rightToLeft 3s forwards;
}

.button::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #343a40;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}

.button:hover::after {
    transform: scale(1);
}

.button_icon {
    font-size: 1.25rem;
}



/*==========Background colors change=================*/
.toggleSwitch {
    position: relative;
    bottom: -39rem;
    left: 0;
    right: 0;
    text-align: center;
    animation: leftToRight 2s forwards;
}

.toggleSwitch .fa {
    position: absolute;
    font-size: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.fa-sun {
    display: none;
    color: var(--text-color);

}

.switch .fa-sun {
    display: block;
}
.switch .fa-moon {
    display: none;
}






/*===============================  KEY FRAMES  ==================================*/
@keyframes topToBottom {
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideAnimate {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*Name home_title*/
@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }

}

/*h3 home_subtitle and CV Button*/
@keyframes neon-animation {
    from{
        opacity: 1.0;
        text-shadow: var(--font-neon-text-shadow);
    }
    to{
        opacity: 0.6;
        text-shadow: none;
    }
}

/*Home Desctiption */
@keyframes rightToLeft {
    0%{
        opacity: 0;
        transform: translateX(300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes showTop {
    100%{
        width: 0;
    }
}

/*----*/

/*Social Media Animate*/
@keyframes socialAnimate {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

/*Contact animations and Liquid-shape*/
@keyframes bottomToTop {
    0%{
        opacity: 0;
        transform: translateY(200px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


/*///////////////////////////////////////////////////////////////////////////////*/
/*=====================  ABOUT SECTION  ======================================*/
/*///////////////////////////////////////////////////////////////////////////////*/
.about_container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
}

.about_img {
    width: 480px;
    border-radius: 0.75rem;
    justify-self: center;
}

.about_heading {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-075);
}

.about_description {
    text-align: justify;
    padding-right: 6rem;
    margin-bottom: var(--mb-2);
}

.about_info {
    grid-template-columns: repeat(3, 140px);
    column-gap: .5rem;
    margin-bottom: var(--mb-3);
}

.about_box {
    text-align: center;
    border-radius: .25rem;
    padding: 1rem 1.25rem;
    background-color: var(--box-color);
}

.about_icon {
    font-size: 1.5rem;
    color: var(--skin-color);
    margin-bottom: var(--mb-0-075);
}

.about_title {
    font-size: var(--small-font-size);
}

.about_subtitle {
    font-size: var(--smaller-font-size);
}


/*-//////////////////////////////////////////////////////////////////////-*/
                            /*====Education Section====*/
/*-//////////////////////////////////////////////////////////////////////-*/

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

.container_education {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;

    /*Mee color eka anthimata ayin karala daanna*/
    /*background: rgba(0,0,0,0.3);*/
    /*background: var(--box-color);*/
}

@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.container_education:nth-child(1){
    animation-delay: 0s;
}

.container_education:nth-child(2){
    animation-delay: 1s;
}

.container_education:nth-child(3){
    animation-delay: 2s;
}

.container_education:nth-child(4){
    animation-delay: 3s;
}

.container_education:nth-child(5){
    animation-delay: 4s;
}



.text-box-education {
    padding: 20px 30px;
    /*background: #fff;*/
    /*color: var(--skin-color);*/
    background: var(--skin-color);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    /*color: black;*/
}

.left-container {
    left: 0;
}

.right-container {
    left: 50%;
}

.container_education img {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
}

.right-container img {
    left: -20px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    /*background: #fff;*/
    /*background: var(--title-color);*/
    background: var(--text-color);
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 5s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}


.text-box-education h2 {
    font-weight: 600;
}
.text-box-education small{
    display: inline-block;
    margin-bottom: 15px;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid var(--skin-color);
    right: -14px;
}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    /*border-right: 15px solid var(--skin-color);*/
    border-right: 15px solid #E1094AFF;
    left: -14px;
}

@media screen and (max-width: 600px){
    .timeline {
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container_education{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .text-box-education {
        font-size: 13px;
    }

    .text-box-education small{
        margin-bottom: 10px;
    }

    .right-container{
        left: 0;
    }

    .left-container img, .right-container img{
        left: 10px;
    }

    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #E1094AFF;
        border-left: 0;
        left: -14px;
    }

}



/*-//////////////////////////////////////////////////////////////////////-*/
/*====Skills Section====*/
/*-//////////////////////////////////////////////////////////////////////-*/

.skills_container {

    display: flex;
    justify-content: center;
    align-items: center;
}

.skills_header {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.skills_header:not(:last-child) {
    /*margin-bottom: var(--mb-2-5);*/
    margin-bottom: var(--mb-1-5);
}

.skills_icon {
    font-size: 2rem;
    color: var(--skin-color);
}

.skills_icon {
    margin-right: var(--mb-0-075);
}

.skills_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

/*Cards*/
.cards {
    width: 60%;
    height: 160px;
    /*border: 1px solid #fff;*/
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    /*padding-right: 30px;*/
    overflow: auto;
    scroll-behavior: smooth;
    transition: 1s linear;
}

.cards::-webkit-scrollbar{
    display: none;
}

.cards .card{
    position: relative;
    min-width: 125px;
    min-height: 125px;
    /*border: 1px solid var(--skin-color);*/
    margin-right: 13px;
    /*background: #282828;*/
    border-radius: 50px 10px 50px 10px;


}

.cards .card:nth-last-child(1){
    margin-right: 0px;
}

.dis {
    width: 125px;
    height: 125px;
    position: relative;
   /* top: 5px;
    left: 5px;*/
    border-radius: 50px 10px 50px 10px;
    display: flex;
    justify-content: center;
}


.skills_h5 {
    position: relative;
    color: white;
    font-size: 16px;
    /*font-family: SimSun;*/
    padding: 0px 10px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
}



/*-//////////////////////////////////////////////////////////////////////-*/
/*====Work Section====*/
/*-//////////////////////////////////////////////////////////////////////-*/
.work_container {
    grid-template-columns: repeat(3, 330px);
    gap: 1.8rem;
    justify-content: center;
    padding-top: 1rem;
}

.work_filters {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}

.work_item {
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work_card {
    background-color: var(--box-color);
    padding: 1.25rem;
    border-radius: .5rem;
}

.portfolio_item-details {
    display: none;
}

.work_img {
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
}

.work_title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-05);
}

.work_button {
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work_button-icon {
    font-size: 1rem;
    transition: .3s;
}

.work_button:hover .work_button-icon {
    transform: translateX(.25rem);
}


/*Active item work*/
.active-work {
    background-color: var(--skin-color);
    color: var(--title-color);
}

/*====Portfolio Popup====*/
.portfolio_popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio_popup.open {
    opacity: 1;
    visibility: visible;
}

.portfolio_popup-inner {
    background-color: var(--box-color);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;
}

.portfolio_popup-content {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio_popup-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
}

.portfolio_popup-img {
    border-radius: .5rem;
}

.portfolio_popup-subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-25);
}

.details_title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.details_description {
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.details_info li {
    margin-bottom: var(--mb-0-075);
    text-transform: capitalize;
    font-size: var(--small-font-size);
}

.details_info li:last-child {
    margin-bottom: 0;
}

.details_info li span {
    font-weight: normal;
}

.details_info li a {
    text-transform: lowercase;
    color: var(--skin-color);
}



/*========Service Section=========*/





/*========Active Model=========*/
/*========Testimonial Section=========*/
/*========Swiper Class=========*/





